/*
  SIMPLE ADMIN CSS File.
  Defines layout for simple admin interface.
*/


/*
  Font Information Setup.
  Sets up the 2 main fonts used throughout the website, Lato for the body and Roboto
  Slab for the titles.
  See:
    https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face
*/
@font-face {
    font-family: "Lato";
    src: local("Lato"), url("../fonts/Lato-Regular.ttf");
  }
  
  @font-face {
    font-family: "Lato";
    src: local("Lato"), url("../fonts/Lato-Bold.ttf");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "RobotoSlab";
    src: local("Roboto Slab"), local("RobotoSlab"), url("../fonts/RobotoSlab-Regular.ttf");
  }
  
  @font-face {
    font-family: "RobotoSlab";
    src: local("Roboto Slab"), local("RobotoSlab"), url("../fonts/RobotoSlab-Bold.ttf");
    font-weight: bold;
  }
  
  
  /*
    Variable Setup.
    Sets up our color schemes for the websites. This is set across the entire document to make refactoring easy.
    NOTE: We also have similar variable additions to other more specific CSS files.
    This also sets up the transition length and scaling factor, and the fonts.
    See: 
      https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
  */
  :root {
    /* CSS Colors */
    --body-text: #424242;
    --blue-border: #049bcd;
    --dark-row: rgba(63, 155, 205, 0.3);
  
    /* BUTTON */
    --red-btn: #DC332E;
    --blue-btn: #049bcd;
    --blue-btn-hv: #0087b4;
    --white: white;
    --btn-green: #04b94d;
    --btn-green-hv: #00a241;
  
    /* PAGE SELECTORS */
    --page-select: rgb(45, 176, 219);
    --page-select-hv: rgb(0, 127, 181);
  
    /* Transition Values */
    --ts-duration: 0.3s;
    --ts-scale: 1.1;
    --ts-fnt-scale: 1.1rem;
  
    /* Fonts */
    --body-fnt: "Lato", sans-serif;
    --header-fnt: "RobotoSlab", monospace;
    --header-fnt-sz: 2rem;
    --data-header-fnt-sz: 2rem;
    --data-fnt-sz: 1.05rem;
  }
  
  
  /*
    Main Update (Add Scrolls)
  */
  .main {
    overflow-x: scroll;
  }
  
  
  /*
    Main Link Grid and Main Action Grid
    Set up the quick download and quick action groups.
  */
  .main__link-grid, .main__action-grid {
    margin: 2rem 0;
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
  }
  
  .main__link-grid--link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
    background-color: var(--btn-green);
    color: var(--white);
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 20px;
  }
  
  .main__link-grid--link:hover {
    background-color: var(--btn-green-hv);
    transform: scale(1.1);
  }
  
  .main__action-grid--label {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: var(--blue-btn);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .main__action-grid--label:hover, .main__action-grid--label:focus {
    background-color: var(--blue-btn-hv);
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .main__action-grid--file-input {
    display: none;
  }
  
  .main__grid--stats {
    display: flex;
    flex-flow: row wrap;  
  }
  
  .main__grid--stat-container {
    margin: 0.5rem 2rem;
  }
  
  .main__grid--stat-label {
    font: bold 1.6rem var(--header-fnt);
    margin-right: 1rem;
  }
  
  .main__grid--stat-count {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  
  /*
    Checkbox Form Field Setup
    Isolate variables to just input types
  */
  input {
    --red: #DC332E;
    --white-bg: white;
    --white-fg: whitesmoke;
    --green: #04b94d;
    --green-hv: #00a241;
    --blue: #3397C1;
    --ts-dur: 300ms;
    --gray-ds: #a9a9a9;
  }
  
  input[type=checkbox] {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    height: 1rem;
    width: 1rem;
    margin: 0 1.2vw;
    background-color: var(--white-bg);
    border: 0.06rem solid var(--blue);
    border-radius: 0.15rem;
    transition: background-color var(--ts-dur), border-radius var(--ts-dur), border var(--ts-dur), height var(--ts-dur), width var(--ts-dur), transform var(--ts-dur);
  }
  
  input[type=checkbox]:focus, .main__form input[type=checkbox]:hover, .main__form input[type=checkbox]:active {
    border: 0.08rem solid var(--blue);
  }
  
  input[type=checkbox]:checked {
    height: 1.2rem;
    width: 0.7rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    border: 0.2rem solid var(--green);
    border-top-width: 0;
    border-left-width: 0;
    transform: translate(0vw, -0.35rem) rotate(45deg);
  }
  
  input[type=checkbox]:checked:focus, .main__form input[type=checkbox]:checked:hover, .main__form input[type=checkbox]:checked:active {
    border: 0.22rem solid var(--green-hv);
    border-top-width: 0;
    border-left-width: 0;
  }
  
  
  /*
    MAIN DATA
  */
  .main__data--mass-action select {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0.05rem solid var(--blue-btn);
    margin: 0 1rem;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--white);
    transition: border var(--ts-duration);
    text-align: center;
    font: 1rem "Lato";
  }
  
  .main__data--mass-action option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 5px 0;
  }
  
  /*
    Main Data Form
    Sets everything up as a grid for injection of elements.
  */
  code {
    font-size: 1rem;
  }
  
  .main__data {
    overflow-x: auto;
    margin: 2rem auto;
    width: max-content;
    max-width: 76vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem;
    grid-auto-flow: column;
  }
  
  .main__data--header {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 6px solid var(--blue-border);
  }
  
  .main__data--header-top {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    font: bold var(--data-header-fnt-sz) var(--header-fnt);
  }
  
  .main__data--footer {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0;
    font: bold 1.6rem var(--body-fnt);
    background-color: var(--dark-row);
    border-radius: 0 0 10px 10px;
  }
  
  .main__data--row {
    grid-column: 1/2;
    display: grid;
    padding: 0.5rem 0;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    border-bottom: 1px solid var(--body-text);
    font: var(--data-fnt-sz) var(--body-fnt);
  }
  
  .main__data--col {
    margin: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
  }
  
  .main__data--page-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    grid-column: 1/2;
    margin: 2rem 0;
    font: bold 1.1rem var(--body-fnt);
  }
  
  .main__data--pages {
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--page-select);
    border-radius: 20px;
  }
  
  .main__data--page-num {
    margin: 0 1rem;
    padding: 0.75rem;
    text-decoration: none;
    color: var(--white);
    transition: transform 0.3s;
  }
  
  .main__data--page-num:hover {
    transform: scale(1.2);
  }
  
  .main__super-data-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .main__data--mass-action {
    font-size: 1.3rem;
    margin-left: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .main__data--mass-action-submit {
    cursor: pointer;
    background-color: var(--btn-green);
    margin-right: 0.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    color: var(--white);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .main__data--mass-action-submit:hover {
    transform: scale(1.1);
    background-color: var(--btn-green-hv);
  }

  .main__data--img {
    width: 100%;
  }

  .main__data--label-modify {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modify-confirm {
    grid-column: 1/5;
    grid-row: 2/3;
    display: flex;
    align-items: center;
  }
  
  .modify-confirm-txt {
    font-weight: bold;
    margin: 0 1rem;
  }
  
  .modify-confirm-btn {
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: var(--white);
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .modify-confirm-btn:hover {
    transform: scale(1.2);
  }
  
  
  /*
    Main Data Column Spacing Classes
  */
  .c4 {
    width: 4rem;
  }
  
  .c5 {
    width: 5rem;
  }
  
  .c6 {
    width: 6rem;
  }
  
  .c8 {
    width: 8rem;
  }
  
  .c10 {
    width: 10rem;
  }
  
  .c12 {
    width: 12rem;
  }
  
  .c16 {
    width: 16rem;
  }
  
  .c20 {
    width: 20rem;
  }
  
  .c24 {
    width: 24rem;
  }
  
  .c28 {
    width: 28rem;
  }
  
  .cF {
    width: max-content;
  }
  
  .fl-end {
    justify-content: flex-start;
  }
  
  .ilblock {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    display: inline-grid;
    margin-right: 0;
    margin-left: 0;
  }
  
  .spacer-w {
    display: inline-block;
    width: 1rem;
  }
  
  
  /*
    General Utility Classes
  */
  .ico {
    width: 1rem;
    transition: transform 0.3s;
  }
  
  .ico:hover {
    transform: scale(1.2);
  }
  
  .ico--click {
    width: 1rem;
    transform: scale(1.3) rotate(405deg);
    transition: transform 0.3s;
  }
  
  .ico-label {
    width: 1.5rem;
    margin-right: 1rem;
    transition: transform 0.3s;
    filter: invert(1);
  }
  
  .clip {
    align-items: flex-start;
    overflow: hidden;
    height: 1.5rem;
  }
  
  .unclip {
    overflow: none;
    height: auto;
    min-height: 2.5rem;
  }
  
  .dark-row {
    background-color: var(--dark-row);
  }
  
  .label-row {
    border-bottom: 3px solid var(--blue-border);
  }
  
  .btn-red {
    background-color: var(--red-btn);
  }
  
  .btn-blue {
    background-color: var(--blue-btn);
  }
  
  .scale-txt {
    transform: scale(1.2);
  }
  
  .hidden-slide {
    margin: 0;
    height: 0;
    opacity: 0;
    transition: margin 0.5s, height 0.5s;
  }
  
  .show-slide {
    opacity: 1;
    height: max-content;
    transition: margin 0.5s, height 0.5s;
  }
  
  .select {
    font-size: 1.4rem;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .select:hover {
    transform: scale(1.1);
  }
