{% extends "onboard/base.html" %}
{% load static %}

{% block tab_title %} Sign Up | Intervenr {% endblock tab_title %}

{% block onboard_flow_title %} Background Survey {% endblock onboard_flow_title %}

{% block consent %}
{% endblock consent%}

{% block main_text %}
  <div class="main__spacer"></div>
  <div class="main__text">
    To be considered for our study, please fill out the form below. This information will help us make sure we have a good sample of participants and give us context about our users for our study.
  </div>
{% endblock main_text %}
