<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Participating in the Intervenr Study!</title>
</head>
<body>
    <p font-size:20px; font-family: Lato, Helvetica, sans-serif;>
        Dear {{ user_name }}, <br> <br>
 
        Thank you so much for participating in the Intervenr {{ experiment_type }} Study. We stopped storing your data on {{ end_date }}. We are now reaching out to formally wrap up your time in the study. <br><br>
         
        <strong>To complete your participation in the Intervenr study, <a href="https://intervenr.stanford.edu/final-survey/">please fill out this offboarding survey</a>.</strong><br><br>
         
        You can turn off the Intervenr extension by following the instructions attached as a PDF (we will also verify that you have been offboarded manually on our backend). If you no longer see the Intervenr extension on your browser, this means we have already offboarded you manually on our backend and all you have to do is delete the "intervenr-extension" folder on your computer. <br><br>
         
        Once we receive your offboarding survey response, you’ll get an email from me with your Amazon gift card. Thank you again for your participation and let me know if you have any questions! <br><br>
         
        Best, <br>
        The Intervenr Team
        
        
    </p>
</body>
</html>