<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations! You are Ready to Participate</title>
</head>
<body>
    <p font-size:20px; font-family: Lato, Helvetica, sans-serif;>
        Dear {{ user_name }},<br><br>
        Congratulations! You have been selected to participate in the Intervenr {{ experiment_type }} Study. This study is being conducted by the Intervenr Team from Stanford’s Human Computer Interaction Group. <br><br>

        The study will last from {{ start_date }} to {{ end_date }}. To get started, please follow <strong>the Onboarding Instructions attached as a PDF to this email within the next five days.</strong> I have linked <a href="https://drive.google.com/file/d/1yvXlpe0GKk-LYfRUW1oIHVyg0glRvg6j/view?usp=sharing">the PDF here</a> and <a href="https://intervenr.stanford.edu/onboard/start_onboard">the onboarding website page referenced in the PDF here.</a> <br> <br>

        During the study, Intervenr will allow us to collect limited data about your browsing activity; this data will be stored privately and anonymously. We’ll also ask you to fill out a few short surveys during the 8 day process so we can better understand your experience using Intervenr. <br><br>
    
        ACTION REQUIRED: Complete onboarding within the next five days. We will only start collecting data when the study launches on {{ start_date }}. <br> <br>

        At the end of our study, you will receive a ${{ compensation_amount }} Amazon gift card for your participation! <br><br>

        Please reach out to intervenr_ads_study@cs.stanford.edu if you have any questions. <br><br>

        Best, <br>
        The Intervenr Team
        
    </p>
</body>
</html>