{% extends "onboard/base.html" %}
{% load static %}

{% block tab_title %} Waitlist | Intervenr {% endblock tab_title %}

{% block onboard_flow_title %} You're on the waitlist {% endblock onboard_flow_title %}

{% block pre_consent %}
<div class="main__text">
  <strong>The consent form that you acknowledged when you joined the waitlist is included below. Please sit tight and wait to hear from the Intervenr team about whether you've been selected to participate!</strong>
</div>
{% endblock pre_consent %}

{% block main_text %}
{% endblock main_text %}

{% block main_form %}
{% endblock main_form %}
