<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for Signing Up!</title>
</head>
<body>
    <p font-size:20px; font-family: Lato, Helvetica, sans-serif;>
        Dear {{ user_name }}, <br> <br> 
        We hope you are doing well! We are the Intervenr Team from Stanford’s Human Computer Interaction Group reaching back out about your interest to participate in our paid study. <br> <br> 
        
        We have received your response and you should expect to hear from us as soon as we have an opening in the participants' list. <strong>No action is required from you at this time.</strong> <br> <br> 
        
        Please reach out to intervenr_ads_study@cs.stanford.edu if you have any questions or are no longer interested in participating. <br> <br> 

        Best, <br>
        The Intervenr Team
    </p>
</body>
</html>