{% extends "base.html" %}
{% load static %}

{% block tab_title %} Sign up / Login | Intervenr {% endblock tab_title %}

{% block header_title %}
    <h1 class="header--title header-center">Sign up or Login</h1>
{% endblock header_title %}

{% block main_body %}
    {% if LOGIN_ERROR %}
        <div class="main__alert main-center">{{ LOGIN_ERROR }}</div>
    {% endif %}
    <div class="main__columns">
        <div class="main__list--label-header grid-self-down">New? Sign up for Intervenr.</div>
        <div class="main__list--label-text grid-self-top">
            Get paid to help UPenn & Stanford researchers study online media!
            To join Intervenr, all you need is a Gmail account.
            Click below to sign up to participate in our study.
        </div>
        <a href="{% url 'onboard:index_prolific' %}" class="main__button main-center grid-self-center mt">
            <div class="main__button--text">Sign Up</div>
        </a>
        <div class="main__list--label-header grid-self-down">Returning user? Login here.</div>
        <div class="main__list--label-text grid-self-top">
            Already enrolled in the Intervenr study and need to sign back in?
            Click below to sign back in. Having trouble signing back in?
            Please reach out to the Intervenr Team <a href="mailto:intervenr-research-study@seas.upenn.edu">here</a>.
        </div>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="main__button main-center blue-btn grid-self-center mt">
            <div class="main__button--text">Login</div>
        </a>
    </div>
{% endblock main_body %}
